body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #869c66;
    overflow: hidden;
}

#content {
    margin: auto;
    width: 75%;
}

#content #circle {
    background: #ff9502;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    margin-left: 75%;
}


#content #center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    border: 2px solid black;
    background: none;
    border-radius: 10px;
}

#center h1 {
    text-align: center;
}

#login-box span {
    margin-left: 5px;
    background: none;
}

#login-box .login-field {
    margin: 5px;
    font-size: 16px;
    border: none;
    border-bottom: solid silver 2px;
    background: white;
    border-radius: 10px;
}

#login-box input {
    border: none;
}

#login-box .signInBtn {
    margin-left: 25px;
    width: 75%;
    background: darkorange;
    color: white;
    border-radius: 5px;
}

#login-box p {
    text-align: center;
    margin: 0;
}

#login-box #myBtn {
    margin-left: 25px;
    width: 75%;
    background: none;
    border-radius: 5px;
    margin-bottom: 5px;

}


/*Register*/

#register-header {
    height: 30px;
    background: #ff9502;
}

#register-header h2 {
    color: white;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 400px;
    border-radius: 10px;
}

.modal-content {
    background-color: #fefefe;
    width: 80%;
}

.modal-content input {
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

