<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headfiles">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header th:fragment="header">
    <div id="navbar">
        <div id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">Mealplans</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
    </div>
</header>

<footer id="footer-navbar" th:fragment="footer">
    <ul>
        <li>About</li>
        <li>Help</li>
    </ul>
    <div id="newsletter">
        <input type="text" placeholder="news-box">
    </div>
    <div id="contact">
        <p></p>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Email</li>
        </ul>
    </div>

</footer>

</body>
</html>