<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/main.css">
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
<th:block th:insert="fragments/general"></th:block>
<div class="content">

    <p>hej</p>
    <div id="banner">
        <div class="image"></div>

    </div>

    <div class="interactive-box">


    </div>

</div>


</body>
</html>