<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="content">
    <div id="center">
        <div id="login-box">
            <h1>Login</h1>
            <form method="get">
                <input class="login-field" type="text" placeholder="Enter Username" name="name">
                <input class="login-field" type="text" placeholder="Enter password" name="password">
                <input id="login-btn" type="submit" value="Sign in">
            </form>
        </div>
        <div id="reg">
            <p>Not a member?</p>
            <input type="submit" value="Register now">
        </div>
    </div>
</div>
</body>
</html>