<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <script th:src="@{../javascript/register.js}"></script>
    <th:block th:include="fragments :: headfiles"></th:block>


</head>
<body>
<header th:fragment=""></header>
<div id="content">

    <div id="circle">
    </div>

    <div id="center">
        <div id="login-box">
            <div id="login-header">
                <h1>Login</h1>
            </div>
            <form autocomplete="off" method="get">
                <p>Username</p>
                <input class="login-field" type="text" placeholder="Enter Username" name="name">
                <p>Password</p>
                <input class="login-field" type="text" placeholder="Enter password" name="password">
                <ul>
                    <li>
                        <input id="login-btn" type="submit" value="Sign in">
                    </li>
                    <li>
                        <input  id="myBtn" onclick="openModal()" value="Register">
                    </li>
                </ul>
            </form>


        </div>
        <div id="reg">
            <!-- Trigger/Open The Modal -->


            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div id="register-header">
                        <h2>Register now</h2>
                    </div>
                    <span class="close">&times;</span>
                    <form action="/registerUser" method="POST">
                        <input type="text" placeholder="Enter Email" name="email" required>
                        <input type="text" placeholder="Enter username" name="username" required>
                        <input type="text" placeholder="Enter password" name="pw" required>
                        <input type="text" placeholder="Confirm password" name="pwConfirm" required>
                        <input type="submit" value="register now!">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>