<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <script th:src="@{../javascript/register.js}"></script>


</head>
<body>
<div id="content">
    <div id="circle">
    </div>
    <div id="center">

        <div id="login-box">
            <h1>Login</h1>
            <form autocomplete="off" method="get">
                <input class="login-field" type="text" placeholder="Enter Username" name="name">
                <input class="login-field" type="text" placeholder="Enter password" name="password">
                <input id="login-btn" type="submit" value="Sign in">
            </form>
        </div>
        <div id="reg">
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" onclick="openModal()">Open Modal</button>

            <!-- The Modal -->

        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <input type="text" placeholder="Enter E-mail" required>
                    <input type="text" placeholder="Username" required>
                    <input type="text" placeholder="Password" required>
                    <input type="text" placeholder="Confirm password" required>
                    <input type="submit" value="Register now">
                </form>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
</div>


</body>
</html>